mixin sRews()
	// start sRews
	+b.SECTION.sRews.section#sRews&attributes(attributes)
		.container
			+b.section-title.text-center.h2-sm
				h2: strong  Отзывы наших клиентов
				
			.row
	// end sRews