mixin sRews()
	// start sRews
	+b.SECTION.sRews.section#sRews&attributes(attributes)
		.container
			+b.section-title.text-center.h2-sm
				h2: strong  Отзывы наших клиентов
			+e.slider-wrapper
				+e.slider--js.swiper-container
					.swiper-wrapper
						- for (var x = 0; x < 3; x++)
							.swiper-slide
								+e.item
									+e.head
										.row
											.col-sm-auto
												picture
													source.swiper-lazy(srcset="#" data-srcset=`img/@2x/webp/rew.webp`)
													img.swiper-lazy(src="#" data-src=`img/@2x/rew.jpg`, alt="")
											.col
												+e.title Маргарита Королева
												+e.title-sub Самый востребованный диетолог по версии Forbes
												+e.italic На&nbsp;протяжении года не&nbsp;могли продать недвижимость. Обратилась в&nbsp;агентство &laquo;ZAVIDOV REALTY&raquo; и&nbsp;оно реализовало помещение за&nbsp;два месяца
									p Однажды, с целью оптимизации работы, у меня появилась необходимость объединить две мои клиники воедино и переехать в новое просторное помещение исторического здания в Благовещенском переулке Москвы. Одновременно было принято решение выставить на продажу помещение на Ленинградке. Я обратилась в несколько агентств по недвижимости, которые обещали оперативно решить вопрос. Но на протяжении почти года ничего не происходило: количество просмотров было минимальным, реклама помещения отсутствовала. Как-то в беседе с Надеждой Бабкиной, обсуждая ситуацию с продажей помещения на Ленинградке, она упомянула агентство "ZAVIDOV REALTY", которое помогло ей и ее знакомым эффективно решить вопросы с недвижимостью. Не раздумывая, я решила обратиться по рекомендации и позвонила. И вот результат — помещение было реализовано в течение двух месяцев, а главное — по той цене, которая меня устроила. Хотела бы поблагодарить агентство "ZAVIDOV REALTY" за проделанную работу, качественный сервис и профессионализм!
									+e.more.link-primary.d-md-none  
										+icon("chevron-down")
				.control-wrap
					+arrow
				
			.swiper-pagination.d-none.d-md-flex
	// end sRews