mixin sForm()
	// start sForm
	+b.SECTION.sForm.section.bg-wrap#sForm&attributes(attributes)
		+pic("form-bg.jpg",'bg','','')(class="picture-bg")
		.container
			.row
				.col-lg-6
					+b.section-title
						h2 Консультируем бесплатно
						+e.text Оставьте заявку или звоните по&nbsp;телефону&nbsp;#[a(href="tel:+7(495)660-20-21") +7 (495) 660-20-21]
				.col-lg-6
					+form-wrap
						+input('Ваше имя')
						+input('Ваш номер телефона','tel')
						+e.btn(type="button")  Получить консультацию
						+polite


mixin sForm-sm()
	// start sForm
	+b.SECTION.sForm--sm.section.bg-wrap#sForm&attributes(attributes)
		+pic("form-bg.jpg",'bg','lazy','')(class="picture-bg")
		.container
			.row
				.col-lg-4
					h3 Нужна консультация?
					//- +e.text Оставьте заявку или звоните по&nbsp;телефону&nbsp;#[a(href="tel:+7(495)660-20-21") +7 (495) 660-20-21]
				.col-lg-5
					p Подробно расскажем о&nbsp;наших услугах и проконсультируем по&nbsp;всем интересующим вопросам!
				.col-lg-3
					+e.question.link-modal(href="") Задать вопрос

	// end sForm