mixin sArticalContent()
	// start sArticalContent
	+b.sArticalContent#sArticalContent&attributes(attributes)
		.container
			+e.inner
				+b.section-title.text-center
					h2 sArticalContent
					
				.row
	// end sArticalContent