mixin sArticalContent()
	// start sArticalContent
	+b.sArticalContent#sArticalContent&attributes(attributes)
		.container
			+cloud()(id="objectPageCloud")
			+e.inner
				+e.inner-2
					+e.row.row
						.col-auto
							+e.label Недвижимость
						.col-auto
							+e.date 13:21 27 мая 2020 г.
					h1 Какую квартиру выбрать: варианты планировок
					img(src="img/@2x/sArtical.jpg", alt="")
					p Хотите купить или продать квартиру, но&nbsp;переживаете за&nbsp;безопасность сделки? Не&nbsp;знаете, как составить договор купли-продажи и&nbsp;провести расчет?
					p Если вы&nbsp;уже работаете с&nbsp;риелтором&nbsp;&mdash; волноваться не&nbsp;о&nbsp;чем. Но&nbsp;что делать тем, у&nbsp;кого нет такой поддержки, и&nbsp;кому придется продать или купить квартиру без риелтора? Узнайте из&nbsp;нашей статьи.
					br
					h5 Почему важно подготовиться к&nbsp;сделке
					p Хотите купить или продать квартиру, но&nbsp;переживаете за&nbsp;безопасность сделки? Не&nbsp;знаете, как составить договор купли-продажи и&nbsp;провести расчет?
					p Если вы&nbsp;уже работаете с&nbsp;риелтором&nbsp;&mdash; волноваться не&nbsp;о&nbsp;чем. Но&nbsp;что делать тем, у&nbsp;кого нет такой поддержки, и&nbsp;кому придется продать или купить квартиру без риелтора? Узнайте из&nbsp;нашей статьи.
	// end sArticalContent