mixin sContact()
	// start sContact
	+b.SECTION.sContact.section#sContact&attributes(attributes)
		.container
			+e.item
				+e.H4.header.active Агентство недвижимости Zavidov Realty в Москве
				+e.txt-block.active
					p Если нужно оформить сделку с недвижимостью, обратитесь в&nbsp;Zavidov Realty. Предоставляем комплексное риэлторское, брокерское, юридическое сопровождение. Дадим гарантии финансовой безопасности.
					p Позвоните&nbsp;&mdash; предложим несколько подходящих объектов, удобное время просмотра.
			+e.item
				+e.H5.header Какие услуги предоставляем
				+e.txt-block
					p Мы&nbsp;&mdash; это не&nbsp;только агентство по&nbsp;продаже недвижимости, Zavidov Realty занимается оформлением разных сделок: покупка, продажа, аренда, обмен жилых или нежилых помещений. Грамотно оформим объявление, разместим его на&nbsp;нашем сайте и&nbsp;распространим по&nbsp;популярным площадкам, подготовим документы для сделки.
					p Покупателям и&nbsp;арендаторам найдем подходящие варианты, отвезем на&nbsp;просмотр, оформим сделку. Наше агентство может оформить обмен, межрегиональную сделку, сложную цепочку покупок и&nbsp;продаж.
					p Сайт агентства недвижимости Москве от&nbsp;компании Zavidov Realty предлагает большой выбор: список объектов представлен в&nbsp;каталоге. Используйте удобные фильтры, сравнение и&nbsp;сохранение объявлений, чтобы быстро найти подходящий вариант. В&nbsp;нашей базе объектов представлено подробное описание недвижимости: планировка, фотографии, подробное описание и&nbsp;комментарии собственника&nbsp;&mdash; не&nbsp;нужно дополнительно писать продавцу, чтобы узнать ответы на&nbsp;популярные вопросы.
			+e.item
				+e.H5.header Почему стоит обратиться к нам
				+e.txt-block
					p
						b Предоставляем гарантии.
						|
						| Zavidov Realty - это надежное агентство недвижимости в Москве. Компания работает с 2006 года, за это время была внедрена безопасная для клиентов схема работы.
	// end sContact