html {
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
}

.pixel-perfect {
	top: 0;
	@include a-cent(x);
	display: block;
	pointer-events: none;
	z-index: 99999;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-position: center 0;
	// background-position: center 635px;
	//background-position: center -10021px;//-9888px
	opacity: 0;
	opacity: 0.7;
}
@include media-breakpoint-up(xl) {

	// .headerBlock{
	// 	max-height: 801px;
	// 	height: 801px;
	// 	min-height:  1px !important;
	// }
}
body,
html {
	font-size: var(--fontSizeBase);
	// @include font-size(1rem);
}

.h2-sm{
	@include rfs($h2-sm);
}
.section {
	@include bgs; 
	padding-top: var(--sPT);
	padding-bottom: var(--sPB);
}

.section-title { 
	padding-bottom: var(--sTPB);
	position: relative;
	h2{
		// padding-bottom: rem(20);
		position: relative;
		z-index: 4;
		&::after{
			content: '';
			margin-top: rem(26);
			display: block;
			max-width: rem(78);
			height: rem(5);
			background-color: $primary;
		}
	}
	&__text {
		@extend .h5;
		font-weight: normal;
	}
	&.text-center{
		h2{
			&::after{
				margin-left: auto;
				margin-right: auto;
			}
		}
	}
	&.h2-sm{
		h2{
			@extend .h2-sm;
		}
	}
}

.page-title{
		@include media-breakpoint-up(sm){

			padding-bottom: rem(50);
		}
		padding-bottom: rem(50 / 2);
	h1{
		// @include rfs(rem(45));
		margin-bottom: 0;
		@extend h2;
		font-weight: bold;
		position: relative;
		&::after {
			content: '';
			margin-top: rem(24);
			display: block;
			max-width: rem(78);
			height: rem(5);
			background-color: $primary;
		}
	}
}
body {
	min-width: 320px;
	position: relative;

	&::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		@include mt;
		background-color: #000000;
		opacity: 0;
		z-index: -1;
		top: 0;
	}

	&.fixed {
		overflow: hidden;
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
		z-index: 999;

		&::before {
			z-index: 999;
			opacity: 0.76;
		}
	}
}

.mono {
	font-family: $font-family-monospace;
}

.small {
	font-size: $small;
}

.tdn {
	text-decoration: none !important;
}

.ttu {
	text-transform: uppercase;
}

.tdu {
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

.ttu {
	text-transform: uppercase;
}

.fw-300 {
	font-weight: 300;
}

.fw-500 {
	font-weight: 500;
}

.fw-900 {
	font-weight: 900;
}

.row--small {
	@include roww(10)
}


.main-wrapper {
	position: relative;
	overflow: hidden;
	min-height: 100vh;
	min-height: calc(var(--vh, 1vh) * 100);
}

.slick-slide img {
	display: inline
}

.image-source-link {
	color: #98C3D1;
}

.slick-slide {
	outline: 0 !important;
}
 

.strong {
	font-weight: bold;
}

ul {
	padding-left: 0;
}

.res-i {
	max-width: 100%;
	// width: auto;
	height: auto;
}

.img-bg {
	@include img-bg();
}

.bgs {
	@include bgs();
}

.table {
	display: table
}

.tr {
	display: table-row
}

.td {
	display: table-cell
}


.tabs {
	&__btn {
		&:hover {
			cursor: pointer;
		}

		&.active {}

	}

	&__content {
		&.active {
			display: block;
		}

		display: none;
	}
}

.form-control{
	@include mt;
}
select.form-control {
	// background-image: url(../img/svg/chevron-down.svg);
	// background-size: rem(18) ;
	background-repeat: no-repeat;
	padding-right: rem(43px);
	appearance: none !important;
}
.form-group--select{
	// position: absolute;
	position: relative;
	&::before{
		content: '';
		height: rem(48px);
		width: rem(50px);
		pointer-events: none;
		top: 0;
		position: absolute;
		right: 0;
		background-image: url(../img/svg/chevron-down.svg);
		background-repeat: no-repeat;
		background-position: center center;
	}
}
.form-control-sm{
	@include media-breakpoint-down(md) {

		font-size: 12px;
	}
}
select.form-control-sm {
	--btn-size: calc(100% - #{rem(50)});
	padding-left: rem(25);
	background-image:
	linear-gradient(90deg, rgba(0, 0, 0, 0) var(--btn-size), $primary var(--btn-size), $primary 100%),
	;
	background-repeat: no-repeat;
	background-position: top right,
	calc(100% - 20px) 50%;
	&::before{
		content: 'dsfsdfsdf';
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
	}
}


input[type='number'] {
	-moz-appearance: textfield;
}

select::-ms-expand {
	display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0;
	/* <-- Apparently some margin are still there even though it's hidden */
}


.invisible {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}



.control-wrap {
	position: relative;
}

.swiper-button-hand {
	width: var(--swiperArrowSize);
	height: var(--swiperArrowSize);
	border-radius: 50%;
	background-color: var(--swiperBgDef);
	@include media-breakpoint-up(md){
		border-width: 2px;
	}
	border: 1px solid var(--swiperBorderColorDef);
	@include bgs;
	z-index: 300;
	outline: none !important;
	// margin-bottom: 0;
	background-image: none;
	margin: 0;
	@include a-cent(y); 
	color: var(--swiperColorDef);
	box-shadow: 0 15px 60px rgba(0, 0, 0, 0.1);
	margin-top: calc(-1 * var(--swiperArrowSize) * 0.4);
	@include mt;
	&:hover{
		background-color: $primary;
		border-color: $primary;
		color: var(--swiperBgDef);
	}
	.icon{
		font-size: rem(12);
	}
	&::after{
		display: none;
	}
	@include media-breakpoint-up(lg) {
	} 
	
	
	// --swiperArrowPosition: -15px; 
	&-next { 
		right: var(--swiperArrowPosition);
	} 
	&-prev {
		left: var(--swiperArrowPosition); 
	} 
}

.swiper-pagination {
	width: 100%;
	text-align: center;

	&-bullet {
		opacity: 1;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background-color: $secondary;
		outline: none !important;
		@include mt;
		margin-left: rem(8);
		// padding-right: rem(8);
		margin-right: rem(5);

		&-active,
		&:hover {
			background-color: $primary;
		}
	}
}




@include media-breakpoint-up(lg) {
	.wow {
		visibility: hidden;
	}
}


picture {
	display: block;

	// display: flex;
	// width: 100%;
	// height: 100%;
	img {
		@extend .res-i;
	}

	img.object-fit-js {
		height: 100%;
		width: 100%;
		// max-width: 100%;
		display: block;
		object-fit: cover;
	}
}

img.img-bg,
.object-fit-js img {
	object-fit: cover;
	object-position: top;
	font-family: 'object-fit: cover; object-position: top;';
}


a {
	@include mt;
}

img.img-bg,
.picture-bg {
	position: absolute;
	z-index: -1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}


.bg-wrap {
	position: relative;
	z-index: 2;
}

// .pagination-wrapper li

.browsehappy {
	position: absolute;
	width: 100%;
	z-index: 1000;
	background: #000;
	min-height: 100px;
	font-size: 20px;
	color: #ffffff;
}

iframe {
	border: none;
}
body:not(.main-page) {
	.fixed-line{
		background: linear-gradient(90deg, #284F70 0%, #3F6E96 100%);
	}
	.top-nav{
		border-bottom-color: transparent;
	}
}
.fixed-line{
		@include media-breakpoint-up(md){

			padding-top: rem(32);
		}
		padding-top: rem(20);
	position: fixed;
	// position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 200;
	@include mt;
	&::before{
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		background: linear-gradient(90deg, #284F70 0%, #3F6E96 100%);
		@include mt;
		opacity: 0;
		z-index: -1;
		border-bottom: 1px solid rgba($color: #fff, $alpha: .2);
	}
	&.fixed{
		padding-top: rem(10);
		 .topLine{
			padding-bottom: rem(5);
		}
		.top-nav{
					&__link{
						// padding: rem(12) rem(14);
						padding-top: rem(12);
						padding-bottom: rem(12);
					}

		}
		&::before{
			opacity: 1;
		}
		.top-nav{
			border-bottom-color: transparent;
		}
	}
}

.btn{
	font-weight: bold;
}
.btn-sm{

	box-shadow: 0 2px 0 #2974b0;
}

.btn-primary{
	color: #ffffff;
	box-shadow: 0 4px 0 #2974b0;
	border-radius: $border-radius;
	// border-color:$primary;
	border: none;
	background: linear-gradient(180deg, #70ABDC 0%, #4F96D1 100%);
	position: relative;
	&::after{
		content: '';
		z-index: -1;
		background: #83C7FF;
		opacity: 0.4;
		filter: blur(30px);
		border-radius: 60px;
		@include a-cent(x);
		width: rem(141px);
		height: rem(28px);
		bottom: -6px;
		@include mt;
	}
	&:hover{
		// box-shadow: 0 0px 0 #2974b0;
		&::after{
			opacity: 0;
		}
		// bsh
		// background: linear-gradient(180deg, #70ABDC 0%, #4F96D1 100%);
		// box-shadow: 0px 2px 0px #2974B0;
	}
						&:focus{
				
							box-shadow: 0px 0px 0px #2974B0 !important;
						}
}

.btn-outline-primary {
	border-radius: $border-radius;
	border: solid 2px $primary;
	display: flex;
	align-items: center;
	justify-content: center;
	color: $primary;
	font-weight: 700;
	min-height: rem(69px);
	padding: 5px;
	@include mt;
	max-width: rem(250);

	&:hover {
		background-color: $primary;
		color: #fff;
	}
}

.container{
	.container{
		padding-left: 0;
		padding-right: 0;
	}
}

.main-row{
	&__content{
	}
	&__sideBar{
			@include media-breakpoint-up(xl) {

				width:  rem(515 + 30) ;
			}
	}
}

.link-more{
	position: relative;
	z-index: 4;
	font-weight: 500;
	.icon{
		font-size: rem(8);
		margin-left: rem(9);
	}
}

.btn-outline-primary{
	border-width: 2px;
	&:hover{
		color: #ffffff !important;
	}
}

.cloud{
	position: absolute 	!important;
	img{
		display: block;
		max-width: none;
	}
}
.cloud-wrap{
	position: relative;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
 
}

.sCategories .cloud {
	left: 110% !important;
	top: -50% !important; 
	img{
		max-width: rem(833);
		height: auto;
	}
}
.sForm .cloud {
	left: -500px !important;
	bottom: -200px !important;
	top: auto !important;
	img{
		// max-width: rem(833);
		// height: auto;
	}
}
 
.sMap {
	.section-title{
		position: relative;
	}
	.cloud {
		left: 50% !important;
		bottom: -200px !important;
		top: auto !important;
		img{
			position: relative;
			transform: matrix(1, 0.08, 0.08, 1, 0, 0);
			// max-width: rem(833);
			max-width: none;
			// height: auto;
		}
	}
}

.sCatalog {
	.section-title{
		position: relative;
	}
	.cloud {
		left: 50% !important;
		bottom: -200px !important;
		top: auto !important;
 
	}
}

.sDo { 
	.cloud {
		left: 50% !important;
		bottom: -200px !important;
		top: auto !important;
 
	}
}

.sLogos { 
	position: relative;
	.cloud {
		left: -400px !important;
		bottom: -200px !important;
		top: auto !important;
		&:nth-child(1){
			bottom: -150px !important;
			left: -600px !important;

		}
	}
}

.sAbout { 
	position: relative;
	// background-color: #000000 !important;
	.cloud-wrap {
		z-index: 4;
	}
	.cloud {
		width: rem(895);
		height: rem(288);
		img{
			// width: rem(895);
			// height: rem(288);
		}
		left: -220px !important;
		top: auto !important;
		bottom: -20px;
		&:nth-child(1){
			
			left: -350px !important;
					bottom: -50px !important ;
				}
		 
	}
}

.sVideo {
	position: relative;
	// background-color: #000000 !important;
	 
	.cloud {

		 left: 50% !important;
		 top: -100% !important;
		 
	}
}

