$output-bourbon-deprecation-warnings: false;
// @import "mq";
@import "bourbon/app/assets/stylesheets/bourbon";
// @import "../../node_modules/rfs/scss";

@import "mixin";
@import "fonts";
@import "_sprite";
// @import "bootstrap-theme/bootstrap";

// Option B: Include parts of Bootstrap


// v5

// Layout & components

@import "./node_modules/bootstrap/scss/functions";
@import "vars";
@import "./node_modules/bootstrap/scss/variables";

@import "./node_modules/bootstrap/scss/mixins";
@import "./node_modules/bootstrap/scss/utilities";

// Layout & components
@import "./node_modules/bootstrap/scss/root";
@import "./node_modules/bootstrap/scss/reboot";
@import "./node_modules/bootstrap/scss/type";
// @import "./node_modules/bootstrap/scss/images";
@import "./node_modules/bootstrap/scss/containers";
@import "./node_modules/bootstrap/scss/grid";
// @import "./node_modules/bootstrap/scss/tables";
@import "./node_modules/bootstrap/scss/forms";
@import "./node_modules/bootstrap/scss/buttons";
// @import "./node_modules/bootstrap/scss/transitions";
// @import "./node_modules/bootstrap/scss/dropdown";
// @import "./node_modules/bootstrap/scss/button-group";
// @import "./node_modules/bootstrap/scss/nav";
// @import "./node_modules/bootstrap/scss/navbar";
// @import "./node_modules/bootstrap/scss/card";
@import "./node_modules/bootstrap/scss/breadcrumb";
.breadcrumb {
	display: block;
	&-item{
		display: inline;
	}
	&-item:not(.active):not(:hover) {
		a{ 
			color: #8F8F8F;
		}
	}
	.active {
		a {
			// color: $breadcrumb-active-color;
			pointer-events: none;
		}
	}
}
.breadcrumb-wrap{
	background-color: #ffffff;
		@include media-breakpoint-up(sm) {

			margin-bottom: rem(45);
		}
		margin-bottom: rem(45 / 2);
}
@import "./node_modules/bootstrap/scss/pagination";

.pagination-wrapper ul {
	@extend .pagination;
}

.pagination-wrapper li .page-numbers {
	@extend .page-link;
	background-color: #fff;
	border-radius: 50%;
	text-align: center;
}

.pagination-wrapper li {
	flex-shrink: 0;
	@extend .page-item;
	margin-left: rem(5);
	margin-right: rem(5);
	width: rem(35px);
	height: rem(35px);
	@include media-breakpoint-up(sm) {
		margin-left: rem(6);
		margin-right: rem(6);
		// width: rem(35px);
		// height: rem(35px);
	}
	font-size: $small;

	span, a{
		display: flex !important;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
	}

	.current {
		pointer-events: none;
		z-index: 1;
		color: $pagination-active-color;
		background-color: $pagination-active-bg;
		// border-color: $pagination-active-border-color;
	}
}

.pagination-wrapper {
	padding-top: rem(20);
	padding-bottom: rem(28);
	.page-numbers {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.prev, .next {
		// width: rem(29px);
		// height: rem(29px);
		// @include media-breakpoint-up(sm) {
			width: rem(35px);
			height: rem(35px);
		// }
		border: 1px solid #eaeaea !important;
		background-color: transparent !important;

		&:hover {
			background-color: #fff !important;
		}
	}
}

// @import "./node_modules/bootstrap/scss/badge";
// @import "./node_modules/bootstrap/scss/alert";
// @import "./node_modules/bootstrap/scss/progress";
// @import "./node_modules/bootstrap/scss/list-group";
// @import "./node_modules/bootstrap/scss/close";
// @import "./node_modules/bootstrap/scss/toasts";
// @import "./node_modules/bootstrap/scss/modal";
// @import "./node_modules/bootstrap/scss/tooltip";
// @import "./node_modules/bootstrap/scss/popover";
// @import "./node_modules/bootstrap/scss/carousel";
// @import "./node_modules/bootstrap/scss/spinners";

// Helpers
@import "./node_modules/bootstrap/scss/helpers";

// Utilities
@import "./node_modules/bootstrap/scss/utilities/api";
// scss-docs-end import-stack


@import "root";
@import "base";
@import '../pug/blocks/**/*.scss';
@import "media"; // Всегда в конце


.row{
	// --bs-gutter-x: 40px;
}


.block{
	width: 50px;
	height: 100px;
	background: url(../img/svg/sprite.svg#check);
	background-size: 100px 100px;
	background-repeat: no-repeat;
	// background-size: contain;
}