mixin headerBlock()
	// start headerBlock
	+b.headerBlock.bg-wrap#headerBlock&attributes(attributes)
		+pic("head-bg",'bg','','')(class="picture-bg")
		.container
			h1 Любая сделка с&nbsp;недвижимостью  от&nbsp;лидера рынка!
			+e.text  100% гарантия юридической чистоты
			+e.btn(href="#")  Получить консультацию
						
	// end headerBlock