mixin sVideo()
	// start sVideo
	+b.SECTION.sVideo.section#sVideo&attributes(attributes)
		.container
			+b.section-title
				h2 Наш собственный канал на Youtube
				+cloud("cloud-2.png")(id="sVideo-inner")
			+e.row.row
				+videoItem(1, 'https://www.youtube.com/watch?v=8q0uj7JZbz4')
				+videoItem(2, 'https://www.youtube.com/watch?v=1ZrzqMYeeBI')
				+videoItem(3, 'https://www.youtube.com/watch?v=ExPn2wYJDyA')
				+videoItem(4, 'https://www.youtube.com/watch?v=O56VRfDyGM4')
	// end sVideo

mixin videoItem(imgNum, linkHref='https://www.youtube.com/watch?v=en6gms6e54Q&list=PLIU76b8Cjem5B3sufBJ_KFTpKkMEvaTQR')
	.col-sm-6.col-lg-3(class="wow  animate__fadeInUp " data-wow-offset="100")
		+e.A.video-link(href=linkHref data-fancybox="video")
			+e.PICTURE.picture
				source(srcset=`img/@2x/webp/sVideo-${imgNum}.webp`)
					//-.lazy(srcset="#" data-
				img(src=`img/@2x/sVideo-${imgNum}.jpg`, alt="")
					//-.lazy(src="#" data-
