mixin sDo()
	// start sDo
	+b.SECTION.sDo.section#sDo&attributes(attributes)
		.container
			+b.section-title
				h2: strong Что мы&nbsp;делаем для успешной и&nbsp;безопасной сделки
				
			.row
				mixin item(i, t, p)
					+e.col.col-lg-4.col-md-6
						+e.item
							+e.img-wrap
								img.lazy(src="#" data-src=`img/svg/do-${i}.svg`, alt="")
							+e.title!= t
							p!= p
					// /+e.col.col-lg-4.col-md-6
					
				+item("1",`Оплата по факту`,`Оплата риэлторских услуг по&nbsp;факту совершения сделки`)
				+item("2",`Закрытая продажа`,`Реализуем Ваш объект без публикации в&nbsp;открытых источниках`)
				+item("3",`Цена объекта`,`Отстаиваем максимальную цену при продаже`)
				+item("4",`Сопровождение сделки`,`Проверяем объект и&nbsp;готовим документы для сделки`)
				+item("5",`Профессиональная фото и&nbsp;видеосъемка`,`Собственная продакшн студия обеспечит качественную &laquo;упаковку&raquo; Вашего объекта`)
				+item("6",`Продвижение и&nbsp;реклама`,`Выводим объект на&nbsp;топовые позиции ведущих порталов недвижимости и&nbsp;рекламируем в&nbsp;соц.сетях`)
	// end sDo