mixin sAbout()

	+b.SECTION.sAbout.section#sAbout&attributes(attributes)
		.container
				
			.row
				.col
					+b.section-title
						h2: strong О нас
					+e.content
						p #[strong ZAVIDOV REALTY]&nbsp;&mdash; одно из&nbsp;самых успешных и&nbsp;надежных агентств столицы! #[span Профессиональная команда экспертов, богатый опыт, креативный подход и&nbsp;безупречная деловая репутация], позволяет нам решать любые задачи на&nbsp;рынке услуг.
						p #[strong ZAVIDOV REALTY]&nbsp;&mdash; обладает самыми современными и&nbsp;уникальными технологиями. В&nbsp;активе компании  #[span более 20&nbsp;000 клиентов] по&nbsp;всему миру!
						p #[strong ZAVIDOV REALTY]&nbsp;&mdash; входит в&nbsp;&laquo; #[span ТОП&nbsp;5]&raquo; лучших компаний Москвы.

						p  #[span Миссия нашей компании:] успех и&nbsp;благополучие бизнеса наших партнеров и&nbsp;клиентов&nbsp;&mdash; результат нашей работы.

						p Нас рекомендуют друзьям. Наш капитал&nbsp;&mdash; это доверие наших партнёров и&nbsp;клиентов.
					table
						tr
							td: +icon('mark')
							td Россия, Москва, Цветной бульвар&nbsp;д. 26С1.
						tr
							td: +icon('tel') 
							td
								a(href="tel:+7(495)660-20-21")  +7 (495) 660-20-21
				.col-lg-auto
					+e.img-wrap
						+pic("about-img.png")
						+e.label
							+e.label-title Юрий Завидов
							+e.label-text  Основатель компании
						+cloud()(id="sAbout-inner")
							+b.cloud(data-depth=".2" )
								+pic('cloud.png','','')
			+e.numbers
				.row
					mixin item(t,p)
						+e.col.col-lg-3.col-md-6
							+e.number
									if t
										span.counter= t
									else
										block
							+e.text!= p
					+item(`3000`,`Успешных сделок`)
					+item(`14`,`Лет на рынке`)
					+item(`3500`,`Объектов недвижимости`)
					+item(``,`Миллиардов рублей в&nbsp;активе по&nbsp;суммам сделок`)
						span.counter 9
						|,
						span.counter 9
	// end sAbout