mixin sSideBar()
	// start sSideBar
	+b.ASIDE.sSideBar.section#sSideBar&attributes(attributes)
		.container
			+form-wrap
				p #[strong Оставьте заявку, чтобы получить доступ к&nbsp;закрытой продаже]
				+input('Ваше имя')
				+input('Ваш email','email')
				+e.btn(type="button")  Получить доступ
				+polite
				
	// end sSideBar