mixin sSideBar()
	// start sSideBar
	+b.SECTION.sSideBar.section#sSideBar&attributes(attributes)
		.container
			+form-wrap
				+input('Ваше имя')
				+input('Ваш номер телефона','tel')
				+e.btn(type="button")  Получить консультацию
				+polite
				
	// end sSideBar