extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug 
include ../blocks/sBlog/_sBlog.pug 
include ../blocks/sAdvantages/_sAdvantages.pug 
include ../blocks/sCategories/_sCategories.pug 
include ../blocks/sCatalog/_sCatalog.pug 
include ../blocks/sDo/_sDo.pug 
include ../blocks/sLogos/_sLogos.pug 
include ../blocks/sAbout/_sAbout.pug 
include ../blocks/sTeam/_sTeam.pug 
include ../blocks/sRews/_sRews.pug 
include ../blocks/sVideo/_sVideo.pug 
include ../blocks/sMap/_sMap.pug 
include ../blocks/sArticalContent/_sArticalContent.pug 
include ../blocks/sSideBar/_sSideBar.pug 
include ../blocks/sFilter/_sFilter.pug 

block variables
	- let  mainPage= null
block title
	- let  title= 'Блог'
	title= title
block pagecontent 
	//- +mob-mnu()
	+header()
		.fixed-line
			.container
				+topLine()
				+top-nav()
	+breadcrumb("Главная",title)
	+page-title(title)
	+sCategories-sm()
	.container
		.row
			.col-lg-3
				+sFilter()
			.col-lg-9
				.row
					mixin row()
						.col-md-6.col-lg-4.mb-30
							+itemProd('2')
						.col-md-6.col-lg-4.mb-30
							+itemProd('3')
						.col-md-6.col-lg-4.mb-30
							+itemProd('4')
					+row
					+row
					+row
				+pugin()


	//- +sForm-sm()
	//- +sMap-sm()
	+footer()
	