extends layout/main.pug



include ../blocks/sTeam/_sTeam.pug 

block variables
	- let  mainPage= null
block title
	- let  title= 'Наша команда'
	title= title
block pagecontent 
	//- +mob-mnu()
	+header()
		.fixed-line
			.container
				+topLine()
				+top-nav()
	+breadcrumb("Главная",title)
	+page-title(title)
	+sTeam

	+footer()
	