extends layout/main.pug
include ../blocks/sCrewman/_sCrewman.pug 

block variables
	- let  mainPage= null
block title
	- let  title= 'Юрий Завидов'
	title= title
block pagecontent 
	+mob-mnu()
	+header()
		.fixed-line
			.container
				+topLine()
				+top-nav()
	+breadcrumb("Главная",title)
	+page-title(title)
	+sCrewman(title)
	+footer()
	