mixin sContent()
	// start sContent
	+b.sContent.section#sContent&attributes(attributes)
		.container
			p #[strong Компания предлагает услуги организации закрытых продаж объектов готового бизнеса без публичной публикации данных об&nbsp;объекте и&nbsp;продавце.]
			p Объекты закрытых продаж не&nbsp;публикуются на&nbsp;сайте компании.
			p Презентация объекта проводится на&nbsp;условиях конфиденциальности по&nbsp;базе реальных клиентов и&nbsp;профессиональных инвесторов. Подписание соглашения о&nbsp;просмотре и&nbsp;конфиденциальности данных гарантирует сохранение коммерческой тайны и&nbsp;намерений клиента.
			p #[strong Закрытые продажи проводятся:]
			UL
				li
					+e.icon-wrap: img(src="img/svg/sContent-1.svg" alt="")
					| для сохранения коммерческой тайны и&nbsp;факта перехода прав собственности;
				li
					+e.icon-wrap: img(src="img/svg/sContent-2.svg" alt="")
					| при крупных и&nbsp;отраслевых сделках;
				li
					+e.icon-wrap: img(src="img/svg/sContent-3.svg" alt="")
					| до&nbsp;официального старта реализации объектов готового бизнеса и&nbsp;недвижимости.

			p Профессиональные эксперты по&nbsp;оценке бизнеса и&nbsp;квалифицированные юристы гарантируют квалифицированную финансовую и&nbsp;юридическую поддержку на&nbsp;всех этапах сделки, в&nbsp;том числе, консультации по&nbsp;налогам и&nbsp;формам налогообложения, юридическую чистоту объекта и&nbsp;соответствие документов по&nbsp;сделке законодательству РФ.
			p Обеспечиваем максимальную безопасность сделки и&nbsp;сохранность конфиденциальности.
				
	// end sContent

mixin sContent10()
	// start sContent
	+b.sContent--bSale.section#sContent&attributes(attributes)
		.container
			h5 #[strong Что мы&nbsp;делаем для владельца бизнеса, желающего его продать]
			+e.UL
				li Определение ключевых элементов бизнеса, определяющих его стоимость
				li Выделение базовых и&nbsp;непрофильных активов
				li Экспресс-оценка
				li Реструктуризация бизнеса
				li Продажа непрофиля
				li Определение сегмента потенциальных покупателей
				li Подготовка презентационных материалов
				li Организация продаж, реклама и&nbsp;прямое предложение потенциальным покупателем
				li Юридическая, финансовая и&nbsp;кадровая предпродажная подготовка бизнеса, его упаковка
				li Проведение переговоров, структурирование и&nbsp;сопровождение сделки.
			h5 #[strong Важно:]
			p Первичный анализ, оценка презентация делаются бесплатно для клиента рассматриваем продажу не&nbsp;только 100% прав на&nbsp;бизнес, но&nbsp;и&nbsp;частичных (не&nbsp;100%) акций, долей.
				
	// end sContent