// мобильное меню

// мобильное меню
$h: 1px;

.toggle-menu-mobile {
	display: block;
	height: $h* 20;
	position: relative;
	color: #ffffff;
	// font-size: 32px;
	width: 26px;
	cursor: pointer;
	margin-bottom: rem(4);
	// top: rem(-4);
	&.on {
		color: #000;
	}

	span:after,
	span:before {
		content: "";
		position: absolute;
		right: 0;
	}

	span {
		@include a-cent(y);
	}


	span {
		position: relative;
		display: block;
		right: 0;

		width: 21px;
	}
	
	span,
	span:after,
	span:before {
		// width: 32px;
		// width: 1em;
		height: 2px;
		background-color: #fff;
		transition: all 0.3s;
		backface-visibility: hidden; 
	}
	
	span:before {
		
		
		top: $h * 9;
		width: 26px;
	}
	
	span:after {
		width: 16px;
			bottom: $h * 9;
		}


	// &.on {
	// 	// opacity: 0;
	// }

	&.on span {
		background-color: transparent;
	}

	&.on span:after,
	&.on span:before {

		top: 0;
		bottom: 0;
		transform-origin: 50% 50%;
		width: 100%;
	}

	&.on span:before {
		transform: rotate(45deg);
	}

	&.on span:after {
		transform: rotate(-45deg);
	}
}

.menu-mobile {
	position: fixed !important;
	z-index: 999;
	// max-width: 85%;
	height: 101vh;
	width: 320px;
	top: 0;
	// left: 0;
	right: 0;
	transform: translate(120%, 0);
	@include mt(.6);
	will-change: transform;

	&__inner {
		background-color: #fff;
		padding: 5% 0;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		height: 100%;
		overflow-x: hidden;
	}

	&.active {
		transform: translate(0, 0);

		.toggle-menu-mobile {
			opacity: 1;
		}
	}

	.toggle-menu-mobile {
		// position: relative;
		cursor: pointer;
		// margin-left: -15%;
		// position: absolute;
		// opacity: 0;
		left: 0;
		right: auto;
		color: #000;
		top: 10px;
		z-index: 9999;
		background-color: transparent;
		margin-left: auto;
		margin-right: auto;
		margin-right: 20px;
		margin-bottom: 30px;
		span,
		span:after,
		span:before {
			background-color: #000;
		}

		&.on {
			opacity: 1;

			span {
				background-color: transparent;
			}
		}
	}

	ul {
		position: relative;
	}

&__item {
		display: block;
		margin: 0;
		// border-top: 1px solid rgba(255, 255, 255, .13);
		text-align: right;
		color: #000000;
		padding-left: rem(40);
		padding-right: rem(40);
		@include mt;
		&:hover{
			background-color: $primary;
			a{

				color: #ffffff !important;
			}
		}
	}
			&__link{
				// font-size: 16px;
				color: $body-color;
				padding: 10px rem(0);
				display: block;
				border-bottom: 1px solid rgba($color: #000000, $alpha: .1);
	
			}
			&__btn{
				@extend .btn;
				@extend .btn-primary;
				width: rem(227);
				margin-left: auto;
				margin-right: auto;
				display: block;
			}
}

.soc-block{
	padding-top: 2rem;
	ul{
		display: flex;
		justify-content: center;
		align-items: center;
		list-style: none;
		@include roww(rem(15));
		.icon{
			font-size: rem(26);
		}
	}
	
}