mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	
	+b.menu-mobile--js.d-lg-none
		+e.inner
			+b.toggle-menu-mobile--js
				span
		
			+mnu()
			+b.soc-block
				+soc()
			+e.btn(href="#") Заказать звонок
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy.d-none.d-lg-block
		.container
			+mnu()
					
	// end top-nav