// start .sObjectPage
.sObjectPage {
	--sPT: #{18px};
	--sPB: #{49px};

	--sTPB: #{21px};
	@include media-breakpoint-up(sm){
		--sPT: #{rem(6)};
		--sPB: #{rem(76)};

		--sTPB: #{39px};
	}

	.container{
		padding: 0 20px;
		@include media-breakpoint-up(sm){
			padding: 0 15px;
		}
	}
	.section-title{
		h1{
			font-weight: bold;

			font-size: 20px;
			line-height: (25/20);
			@include media-breakpoint-up(sm){
				font-size: rem(35);
				line-height: (50/35);
			}
		}
	}

	&__obj-row{
		@include media-breakpoint-up(xl){
			//@include roww(70px);
		}
	}

	//slider
	&__slider{
		//sw default
		position: relative;

		.swiper-container{}
		.swiper-wrapper{}

		//prev, next
		.object-prev-js,
		.object-next-js{
			outline: none !important;
			border: none !important;
			box-shadow: none !important;

			width: 32px;
			height: 32px;
			border-radius: 50%;

			display: flex;
			align-items: center;
			justify-content: center;

			z-index: 10;
			position: absolute;
			top: 50%;
			transform: translateY(-50%) translateX(-50%);

			@include mt();
			background-color: $white;
			color: $primary;
			&:hover{
				background-color: $primary;
				color:  $white;
			}

			.icon{
				font-size: 8px;
				color: currentColor;
			}
		}

		.object-prev-js{
			left: 0;
		}
		.object-next-js{
			left: 100%;
		}

		//slide
		.swiper-slide{

		}

		.slide-img{
			display: block;
			position: relative;

			padding-top: 62.5%;
			@include media-breakpoint-up(sm){
				padding-top: 60.42%;
			}
			//62.5
			img{
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: $border-radius;
			}
		}

	}

	//
	&__slider-thumb{
		position: relative;
		margin: 0 -15px;
		//sw default
		.swiper-container{
			padding: 0 15px;
		}
		.swiper-wrapper{
			padding: rem(18px) 0 57px 0;
			@include media-breakpoint-up(lg){
				padding: rem(18px) 0 rem(75px) 0;
			}
		}

		//slide
		.swiper-slide{
			cursor: pointer;
			border-radius: $border-radius;

			@include mt();
			border: 2px solid transparent;
			&:hover{
				box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
			}

			width: calc((100% / 5) - (18px * 4 / 5));
			@include media-breakpoint-up(xl){
				width: calc((100% / 7) - (22px * 6 / 7));
			}
		}
		.img-cont{
			position: relative;
			padding-top: 100%;
			border-radius: $border-radius;

			@include mt();
			&:hover{
				box-shadow: 0 0 0 2px #70ABDC;
			}

			img{
				position: absolute;
				left: 0;
				top: 0;

				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: $border-radius;
			}
		}

	}

	//obj-chars
	&__obj-chars-col{

		@include media-breakpoint-up(xl){
			padding-left: 40px;
		}

	}
	&__obj-chars{
		background-color: $white;
		border-radius: 10px;

		@include tear(100vw);
		@include media-breakpoint-up(sm){
			@include tear-drop();
		}
	}
	&__top-chars{
		padding: 0 rem(20px);
		@include media-breakpoint-up(xl){
			padding: 0 rem(43px);
		}
	}
	&__price{
		padding: 24px 0 18px;
		@include media-breakpoint-up(sm){
			padding: rem(20px) 0;
		}
		@include media-breakpoint-up(xl){
			padding: rem(28) 0;
		}

		border-bottom: 1px solid rgba($black, .1);

		font-size: 20px;
		@include media-breakpoint-up(sm){
			font-size: rem(30);
		}


		font-weight: 500;
		line-height: 1;
	}
	//chars-pills
	&__chars-pills{
		padding: 10px 0;
		@include media-breakpoint-up(xl){
			padding: rem(12px) 0;
		}

		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}
	&__char-pill-item{
		display: flex;
		margin-right: rem(10);


		min-width: 111px;
		padding: 10px 0;
		@include media-breakpoint-up(xl){
			padding: rem(13) 0;
			min-width: rem(151px);
		}
	}
	&__char-pill-img{
		width: rem(20px);
		height: rem(20px);
		margin-right: rem(13px);
	}
	&__char-pill-txt{
		font-size: rem(18px);
		line-height: 1.4;
		color: $black;
	}
	//end chars-pills

	&__secondary-strip{
		background-color: $body-bg;
		font-size: rem(14px);
		line-height: 1.43;
		color: rgba($black, .5);

		padding: 18px;
		@include media-breakpoint-up(sm){
			padding: rem(15px) rem(20px);
		}
		@include media-breakpoint-up(xl){
			padding: rem(16px) rem(40px) rem(14px) rem(42px);
		}
	}

	//
	&__lower-chars{
		padding: rem(20px) rem(20px) 0 rem(20px);
		@include media-breakpoint-up(sm){
			border-bottom: 1px solid rgba($black, .1);
			padding: rem(20px);
		}
		@include media-breakpoint-up(xl){
			padding: rem(25px) rem(33px) rem(27px) rem(46px);
		}
	}
	&__agent-txt{
		padding-bottom: 13px;
		span{
			font-weight: 500;
			font-size: rem(18);
			line-height: 1;
		}
		span:first-child{

		}
		span:last-child{
			color: $primary;
		}
	}

	&__call-strip{
		display: flex;
		padding-bottom: rem(21px);
	}

	&__phone-icon{

		margin-right: 7px;
		@include media-breakpoint-up(xl){
			margin-right: rem(13px);
		}

		.icon{
			position: relative;
			top: -3px;
			font-size: 16px;

			@include media-breakpoint-up(sm){
				top: 0;
			}
			color: $primary;
		}
	}
	&__call-link{
		font-size: 13px;
		@include media-breakpoint-up(sm) {
			font-size: rem(16px);
		}
		line-height: 1.25;

		@include mt();
		color: $black;
		&:hover{
			color: $primary;
		}

		&:after{
			content: ',';
			display: inline-block;

			padding-right: rem(12px);

		}

		&:last-child:after{
			content: none;
		}
	}
	//
	&__lower-chars-btns{
		border-bottom: 1px solid rgba($black, .1);
		@include media-breakpoint-up(sm){
			border-bottom: none;
			display: flex;
			align-items: flex-start;
			position: relative;
			margin-right: -20px;
		}
	}
	&__look-btn{
		@extend .btn;
		@extend .btn-primary;

		font-size: 12px;


		width: 100%;
		padding: rem(16px);
		margin-bottom: 20px;
		@include media-breakpoint-up(sm){
			width: rem(200);
			padding: rem(16px);
			margin-bottom: 0;

			margin-right: 10px;
		}
	}
	&__ask-btn{
		@extend .btn;
		@extend .btn-empty;
		margin-right: rem(10px);

		font-size: 12px;

		width: 100%;
		padding: rem(16px);
		margin-bottom: 25px;
		@include media-breakpoint-up(sm){
			width: rem(158);
			padding: rem(16px);
			margin-bottom: 0;
		}
	}
	//
	&__share-link{
		display: flex;
		align-items: center;

		padding: rem(20);
		@include media-breakpoint-up(sm){
			padding: rem(20px);
		}
		@include media-breakpoint-up(xl){
			padding: rem(22px) rem(42px);
		}
		.share-txt{
			font-size: 12px;
			@include media-breakpoint-up(sm){
				font-size: rem(16px);
			}
			line-height: 1.25;
		}

		ul{
			list-style: none;
			padding: 0;
			margin: 0;
			display: flex;
			align-items: center;

			li{
				margin-left: 8px;
				@include media-breakpoint-up(sm){
					margin-left: 9px;
				}
				&:first-child{
					margin-left: 11px;
					@include media-breakpoint-up(sm){
						margin-left: rem(13px);
					}
				}
			}
			a{
				width: 22px;
				height: 22px;
				@include media-breakpoint-up(sm){
					width: rem(25px);
					height: rem(25px);
				}
				display: flex;
			}
			img{
				max-width: 100%;
				max-height: 100%;
				width: auto;
				height: auto;
				margin: auto;
			}
		}
	}
	&__{}
	&__{}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

} // end.sObjectPage

.prod-card-page{
	.breadcrumb-wrap{
		@include media-breakpoint-down(sm){
			margin-bottom: 0px;
		}
	}
}

.other-data{
	padding-top: 39px;
	@include media-breakpoint-up(lg){
		padding-top: 0;
	}
	&__txt{
		padding-bottom: 39px;
		@include media-breakpoint-up(sm){
			padding-bottom: rem(58px);
		}
		h3{
			@include media-breakpoint-down(sm){
				font-size: 20px;
			}

			margin-bottom: 13px;
			@include media-breakpoint-up(sm) {
				margin-bottom: rem(19px);
			}
		}
		p{
			margin-bottom: 28px;

			font-size: 14px;
			line-height: 1.58;
			@include media-breakpoint-up(sm) {
				font-size: rem(16px);
				line-height: 1.56;
			}

		}
		p:last-child{
			margin-bottom: 0;
		}
	}
	//pills-link
	&__pills-link{
		display: flex;
		align-items: center;

		margin-bottom: 27px;
	}
	&__place{
		margin-right: 14px;

		display: flex;
		align-items: center;
	}
	&__place-img{
		width: 19px;
		height: 19px;
		display: flex;

		margin-right: 8px;
		@include media-breakpoint-up(sm){
			margin-right: 9px;
		}

		img{
			max-width: 100%;
			max-height: 100%;
			width: auto;
			height: auto;
			margin: auto;
		}
	}
	&__place-txt{
		font-weight: 500;
		line-height: 143.8%;

		font-size: 14px;
		@include media-breakpoint-up(sm){
			font-size: rem(16px);
		}
	}
	&__time{
		background: $white;
		box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.04);
		border-radius: 100px;

		line-height: 143%;

		font-size: 12px;
		padding: 9px 17px 8px 16px;
		@include media-breakpoint-up(sm) {
			font-size: rem(14px);
			padding: rem(9px) rem(17px) rem(8px) rem(16px);
		}
	}
	&__{}
	&__{}
	&__{}
	&__{}
	&__{}
	&__{}

	//map
	&__map-block{
		@include tear(100vw);
		height: 282px;
		margin-bottom: 34px;
		@include media-breakpoint-up(sm){
			@include tear-drop();
			height: 333px;
		}

		@include media-breakpoint-up(lg){
			margin-bottom: rem(67px);
		}

		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	//row
	&__row{
		padding-bottom: 45px;
		@include media-breakpoint-up(sm){
			padding-bottom: rem(42px);
		}
	}

	&__header{
		display: flex;
		align-items: center;

		position: relative;
		font-weight: bold;
		line-height: 1;

		font-size: 20px;
		@include media-breakpoint-up(sm){
			font-size: rem(30px);
		}

		border-bottom: 1px solid rgba($black, .1);
		padding-bottom: 16px;
		margin-bottom: 25px;
		@include media-breakpoint-up(lg){
			border-bottom: none;
			padding-bottom: rem(36px);
			margin-bottom: 0;
		}

		@include media-breakpoint-up(lg){
			padding-right: 0 !important;
		}

		&:after{
			content: '';
			@include media-breakpoint-up(lg){
				content: none !important;
			}
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			@include mt();

			display: flex;
			align-items: center;
			justify-content: flex-end;
			width: 10px;
			height: 10px;

			background-image: url(../img/chevron-down.svg);
			background-size: cover;
		}

		&.active:after{
			transform: rotate(180deg) translateY(50%);
		}
	}
	&__content{
		display: none;
		&.active{
			display: block;
		}

		@include media-breakpoint-up(lg){
			display: block !important;
		}
	}
	&__table{

	}

	//table-col
	&__table-col{
		padding-bottom: 19px;

		@include media-breakpoint-up(lg){
			padding-right: 50px;
			padding-bottom: 0;
		}
		@include media-breakpoint-up(xl){
			padding-right: 84px;
		}
	}
	&__table-r{
		overflow: hidden;
		display: flex;
		min-width: 100%;
		flex-wrap: nowrap;
		justify-content: space-between;

		margin-bottom: 14px;
		@include media-breakpoint-up(sm){
			margin-bottom: 15px;
		}

		position: relative;
		&:after{
			content: '..............................................................................................................................................................................................................................................................................................................................';
			position: absolute;
			left: 0;
			top: 0;

			//background-color: red;
			width: 100%;
			height: 100%;
			z-index: -1;
		}
	}
	&__table-c{
		background-color: $body-bg;
		width: auto;

		&:last-child{
			text-align: right;
			padding-left: rem(15px);
		}
		&:first-child{
			font-weight: 500;
			padding-right: rem(15px);
		}

		font-size: 12px;
		@include media-breakpoint-up(sm){
			font-size: rem(14px);
		}

		line-height: 1.64;
		white-space: nowrap;
	}

	//left col
	&__references-cont{
		display: flex;
	}
	&__pdf-img{
		width: 42px;
		height: 42px;
		display: flex;
		margin-right: 15px;

		img{
			max-width: 100%;
			max-height: 100%;
			margin: auto;
		}
	}
	&__pdf-txt-bl{

	}
	&__pdf-type{
		font-weight: 500;
		line-height: 1.44;
		color: $primary;
		font-size: 16px;
	}
	&__actions-list{

		a{
			@include media-breakpoint-up(sm){
				font-size: 12px;
			}
			font-size: rem(13px);

			line-height: 1.77;

			@include mt();
			color: rgba($black, .5);
			&:hover{
				color: $primary;
			}

			&:after{
				content: '/';
				display: inline-block;
			}
			&:last-child:after{
				content: none;
			}
		}
	}
	//cloud
	&__cloud-wrap{
		position: relative;
	}
	//lower-nav
	&__lower-nav{
		display: flex;
		justify-content: space-between;
	}
	&__nav-item{
		display: flex;
		align-items: center;

		//1
		&:first-child{
			.other-data__get-back-btn{
				margin-right: 11px;
				@include media-breakpoint-up(sm){
					margin-right: 13px;
				}
			}
		}

		//2
		&:last-child{
			.other-data__nav-item-txt{
				text-align: right;
			}
			.other-data__get-back-btn{
				margin-left: 11px;
				@include media-breakpoint-up(sm){
					margin-left: 13px;
				}
			}
		}

		//hover
		&:hover {
			.other-data__get-back-btn {
				background-color: $white;
				color: $primary;
			}
		}
	}
	&__get-back-btn{
		flex-shrink: 0;
		display: flex;
		align-items: center;
		justify-content: center;

		width: 35px;
		height: 35px;
		border-radius: 50%;

		border: 1px solid $primary;
		background-color: $primary;
		color: $white;
		@include mt();

		.icon{
			font-size: 10px;
			color: currentColor;
		}


	}
	&__nav-item-txt{
		font-weight: 500;
		line-height: 1.44;
		color: #70ABDC;

		font-size: 10px;
		@include media-breakpoint-up(sm){
			font-size: 14px;
		}
	}
	&__{}
	&__{}
	&__{}
	&__{}

}