include ../../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })
include components/menu.pug
include components/icon.pug
include components/breadcrumb.pug
include components/pugination.pug
include components/soc.pug
include components/pic.pug
include components/btn.pug


mixin arrow()
	.swiper-button-hand.swiper-button-hand-prev.swiper-button-prev
		+icon('arrow-left')
	.swiper-button-hand.swiper-button-hand-next.swiper-button-next
		+icon('arrow-right')
//- /arrow for swiper-slider

mixin ie11()
	//- modernizer and for ie11
	 
	<!--[if lt IE 11]><p   class="browsehappy container">К сожалению, вы используете устаревший браузер. Пожалуйста, <a href="http://browsehappy.com/" target="_blank">обновите ваш браузер</a>, чтобы улучшить производительность, качество отображаемого материала и повысить безопасность.</p><![endif]-->

mixin range(c1, c2)
	.range-wrap.price_slider_amount
		.row
			.col-6 
				.form-group
					+b.INPUT.input_from.form-control.form-control-sm(type="text" )  
			.col-6
				.form-group
					+b.INPUT.input_to.form-control.form-control-sm(type="text" ) 
		input.range-slider.slider-js(type='text'  data-min= c1  data-max= c2)
mixin page-title(t)
	.page-title
		.container
			h1= t

mixin cloud(i="cloud.png")
	.cloud-wrap&attributes(attributes)
		+b.cloud(data-depth=".5" )
			+pic(i,'','')
		block