mixin allcss()
	link(rel="stylesheet", href="libs/swiper/css/swiper.min.css")
	link(rel="stylesheet", href="libs/animate.css/animate.min.css") 
	link(rel="stylesheet", href="libs/@fancyapps/fancybox/jquery.fancybox.min.css")
	link(rel="stylesheet", href="libs/intl-tel-input/build/css/intlTelInput.min.css")
	link(rel="stylesheet", href="libs/ion-rangeslider/css/ion.rangeSlider.min.css")
	link(rel="stylesheet", href="libs/choices.js/public/assets/styles/choices.min.css")
	link(rel="stylesheet", href="css/main.min.css")
	
mixin allcjs()
	script(src="js/lazy.js")
	script(src="libs/jquery/jquery.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js") 
	script(src="libs/@fancyapps/fancybox/jquery.fancybox.min.js")
	script(src="libs/parallax-js/parallax.min.js") 
	script(src="libs/swiper/js/swiper.min.js")
	script(src="libs/ion-rangeslider/js/ion.rangeSlider.min.js")
	script(src="libs/choices.js/public/assets/scripts/choices.min.js")
	script(src="libs/counterup2/index.js")
	script(src="libs/wowjs/wow.min.js") 
	script(src="libs/intl-tel-input/build/js/intlTelInput.min.js")
	script(src="js/common.js")