
mixin mnu()
	-
		var nav= { 
			"Об агентстве":"#",
			"Закрытая продажа":"#",
			"Продажа бизнеса":"#",
			"Блог ":"#",
			"Контакты":"#"
			}
	+e.UL.nav(itemscope itemtype="http://schema.org/SiteNavigationElement")
		+e.LI.item( itemprop="item" ): +e.A.link(href="#" itemprop="url") Главная
		+e.LI.item( itemprop="item" )
			+e.A.link(href="#" itemprop="url") Каталог объектов
			+b.UL.sub-menu
				+e.LI.item: +e.link(href="#")  Текст
				+e.LI.item: +e.link(href="#")  Текст
				+e.LI.item: +e.link(href="#")  Текст
		each linkPatch, linkName in nav
			+e.LI.item( itemprop="item" ): +e.A.link(href= linkPatch  itemprop="url")= linkName
//- /menu