mixin item-sos(icon, a='#')
	+e.A.item(href= a target="_blank")
		if block
			block
		else
			+icon(icon)
//- social buttons
mixin soc()
	ul
		li
			a(href="#")
				+icon('fb')
		li
			a(href="#")
				+icon('instagram')
		li
			a(href="#")
				+icon('youtube')


//- /social buttons 